body{
    background-image: linear-gradient(red,blue);
}
.camera{
    border-style: dashed;
    border-color: white;
    border-width: 1px;
    height: 250px;
    width: 250px;
}
*{
    color: white;
}
#take_pic{
    background-color: black;
}
#identify{
    background-color: black;
}